<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div data-controller="recipe">
    <div class="group">
      <label for="ingredients">Ingredients</label>
      <div id="ingredients">
        <% recipe.ingredients.each do |ingr| -%>
          <div>
            <input type="text" name="ingredients[]" value="<%= ingr.name %>">
          </div>
        <% end -%>
      </div>
      <div class="button" data-action="click->recipe#addIngredient">Add Ingredients</div>
    </div>

    <div class="group">
      <label for="steps">Steps</label>
      <div id="steps">
        <% recipe.steps.each do |step| -%>
          <div>
            <textarea name="steps[]"><%= step.content %></textarea>
          </div>
        <% end -%>
      </div>
      <div class="button" data-action="click->recipe#addStep">Add Steps</div>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
