<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Steps</th>
      <th>Ingredients</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td>
          <% begin -%>
            <%= image_tag(recipe.photo, size: '25', alt: recipe.name + ' Photo') %>
          <% rescue -%>
            <%= image_tag('https://www.civhc.org/wp-content/uploads/2018/10/question-mark.png', size: '25', alt: 'Recipe Photo') %>
          <% end -%>
        </td>
        <td><%= recipe.name %></td>
        <td><%= recipe.steps.count %></td>
        <td><%= recipe.ingredients.count %></td>
        <td><%= link_to 'Show', alt_recipe_path(recipe) %></td>
        <td><%= link_to 'Edit', alt_edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', alt_new_recipe_path %>
