<p id="notice"><%= notice %></p>

<p>
  <h1><%= @recipe.name %></h1>
  <h2>Recipe</h2>
  
</p>

<div>
  <% begin -%>
    <%= image_tag(@recipe.photo, size: '128', alt: 'Recipe Photo') %>
  <% rescue -%>
    <%= image_tag('https://www.civhc.org/wp-content/uploads/2018/10/question-mark.png', size: '128', alt: 'Recipe Photo') %>
  <% end -%>
</div>

<br>

<div class="ingredients">
  <h3>Ingredients</h3>
  <ul>
    <% @recipe.ingredients.each do |ingr| -%>
      <li><%= ingr.name %></li>
    <% end -%>
  </ul>
</div>

<div class="steps">
  <h3>Steps</h3>
  <dl>
    <% i = 1 -%>
    <% @recipe.steps.each do |step| -%>
        <dt><b>Step <%= i %></b></dt>
        <dd><%= step.content %></dd>
        <% i += 1 -%>
    <% end -%>
  </dl>
</div>


<br>

<%= link_to 'Edit', alt_edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
